  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %><br />
    <%= form.text_field :name %><br />

    <%= form.label :amount %><br />
    <%= form.text_field :amount %><br />
	
	  <%= form.label :start_date %><br />
    <%= form.text_field :start_date %><br />

	  <%= form.label :type, "Transaction Type" %><br />
    <%= form.select(:type, ['Expense', 'Income']) %><br />

		<%= form.label :frequency %><br />		
	 	<%= form.select(:frequency, [['Weekly', 'once_per_week'], ['Daily', 'once_per_day']]) %>
  </div>

  <div class="actions">
    <%= form.submit "Create New Transaction" %>
  </div>
<%# end %>
